body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.form-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-header {
  margin-bottom: 20px;
  /* padding-bottom: 2em; */
}

.form-container {
  background-color: #e9ecef;
  padding: 2em 4em;
  border: 1px solid #e9ecef;
  /* border-radius: .5em; */
  min-width: 600px;
  margin-top: 100px;
  align: center;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.field:focus {
  border: 2px solid purple;
}

.button1:hover {
   background-color:  #EC0677; 
} 
    

.button2:hover {
  background-color:  #EC0677;
}

.button1 {
  background:#8241AA;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px 20px 4px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button2 {
  background:#B93499;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 12px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.error-message {
  color: #EC0677;
  font-size: 14px;
  margin-bottom: 0;
}